

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  &__demo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    
    
  }
}

